# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Logs
*.log
/logs

# OS
.DS_Store
Thumbs.db

# Others
.env
